@model IEnumerable<WebApp.DataClasses.TodoList>

<h2>Todo Lists</h2>

<p><a asp-action="Create">Create New</a></p>

<table class="table">
	<thead>
		<tr>
			<th>Title</th>
			<th>Description</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>@item.Title</td>
				<td>@item.Description</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
					<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>